body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Roboto", sans-serif;
}

.nav-link {
  color: white !important;
}
#carousel {
  max-height: 500px;
}
.carousalImg {
  object-fit: contain !important;
}
.signup-input{
  color: azure;
}
